/* Toggling dark mode manually instead of prefers-color-scheme media query  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  :root,
  [data-theme='light'] {
    /* Refine tailwind color helpers  */
    --mix-factor: 100%;
    --mix-base: oklch(100% 0 0);

    /* Custom color helpers */
    /*--fg-l: 30%;*/
    /*--bg-l: 100%;*/

    --ac-l: 64%;
    --ac-c: 0.28;
    --ac-h: 40;

    --lch-l-offset: 0%;
  }

  :root.dark,
  [data-theme='dark'] {
    /* Refine tailwind color helpers */
    --mix-factor: 75%;
    --mix-base: oklch(100% 0 0);

    /* Custom color helpers */
    /*--fg-l: 78%;*/
    /*--bg-l: 0%;*/

    --ac-l: 70%;
    --ac-c: 0.212;
    --ac-h: 8;

    --lch-l-offset: 20%;
  }
}
