/* Toggling dark mode manually instead of prefers-color-scheme media query  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  :root,
  [data-theme='light'] {
    /* Refine tailwind color helpers  */
    --mix-factor: 100%;
    --mix-base: oklch(100% 0 0);

    /* Custom color helpers */
    --bg-l: 100%;
    --bg-c: 0;
    --bg-h: 0;

    --fg-l: 97.82%;
    --fg-c: 0.0034;
    --fg-h: 247.86;

    --ac-l: 64%;
    --ac-c: 0.28;
    --ac-h: 40;
    --lch-l-offset: 0%;
  }

  :root.dark,
  [data-theme='dark'] {
    /* Refine tailwind color helpers */
    --mix-factor: 75%;
    --mix-base: oklch(100% 0 0);

    /* Custom color helpers */
    --bg-l: 21.32%;
    --bg-c: 0.0042;
    --bg-h: 264.48;

    --fg-l: 17.85%;
    --fg-c: 0.0041;
    --fg-h: 285.98;

    --ac-l: 70%;
    --ac-c: 0.212;
    --ac-h: 8;
    --lch-l-offset: 20%;
  }
}
