@plugin '@egoist/tailwindcss-icons';

/* Toggling dark mode manually instead of prefers-color-scheme media query  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* @layer base for default base styles */
/* https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles */
@layer base {
  * {
    /* All border color styles can be omitted. */
    border-color: var(--color-border);
  }
}

@layer base {
  :root,
  [data-theme='light'] {
    color-scheme: light;
    /* Refine tailwind color helpers  */
    --mix-factor: 100%;
    --mix-base: oklch(100% 0 0);

    /* Custom color helpers */
    --bg-l: 100%;
    --bg-c: 0;
    --bg-h: 0;

    --bg-rev-l: 21.32%;
    --bg-rev-c: 0.0042;
    --bg-rev-h: 264.48;

    --fg-l: 97.82%;
    --fg-c: 0.0034;
    --fg-h: 247.86;

    --fg-rev-l: 17.85%;
    --fg-rev-c: 0.0041;
    --fg-rev-h: 285.98;

    --ac-l: 64%;
    --ac-c: 0.28;
    --ac-h: 40;

    --hl-l: 77.7%;
    --hl-c: 0;
    --hl-h: 257.2136;

    --border-l: 92.2%;
    --border-c: 0;
    --border-h: 0;
    --border-o: 100%;

    --lch-l-offset: 0%;
  }

  :root.dark,
  [data-theme='dark'] {
    color-scheme: dark;
    /* Refine tailwind color helpers */
    --mix-factor: 75%;
    --mix-base: oklch(100% 0 0);

    /* Custom color helpers */
    --bg-l: 21.32%;
    --bg-c: 0.0042;
    --bg-h: 264.48;

    --bg-rev-l: 100%;
    --bg-rev-c: 0;
    --bg-rev-h: 0;

    --fg-l: 17.85%;
    --fg-c: 0.0041;
    --fg-h: 285.98;

    --fg-rev-l: 97.82%;
    --fg-rev-c: 0.0034;
    --fg-rev-h: 247.86;

    --ac-l: 70%;
    --ac-c: 0.212;
    --ac-h: 8;

    --hl-l: 33.66%;
    --hl-c: 0.01;
    --hl-h: 257.2136;

    --border-l: 100%;
    --border-c: 0;
    --border-h: 0;
    --border-o: 10%;

    --lch-l-offset: 20%;
  }
}

/* @layer components for components classes */
/* https://tailwindcss.com/docs/adding-custom-styles#adding-component-classes */
@layer components {
  .spinning-border {
    @apply relative;

    &::before {
      @apply border-b-ac/60 absolute inset-[-1px] animate-spin rounded-full border border-transparent content-[""];
    }
  }
}

/* @utility for utility classes */
/* https://tailwindcss.com/docs/adding-custom-styles#simple-utilities */
@utility scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@utility focus-ring {
  @apply focus-visible:border-ac focus-visible:ring-ac/30 focus:outline-none focus-visible:ring-2;
}

/* Custom Theme Variables */
/* https://tailwindcss.com/docs/theme */
@theme {
  --animate-bounce-dot: bounceDot 1.4s ease-in-out infinite;

  @keyframes bounceDot {
    0%,
    80%,
    100% {
      transform: scale(0.8);
      opacity: 0.8;
    }
    40% {
      transform: scale(1.1);
      opacity: 1;
    }
  }
}
